.row-even {
    background: white
}

.row-odd {
    background: #f6f6f6
}

.row:hover {
    background: lightblue;
}

.cell {
    border-left: 1px solid transparent;
    border-right: 1px dotted darkgrey;
    height:100%;
    display:inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.fake-viewport {
    position:relative;
}

.column-header-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    user-select: none;
}

.column-header {
    border-right:1px solid black;
    height:100%;
    display:inline-block;
    box-sizing: border-box;
    > div.filter {
        width:20px;
        height:20px;
        cursor:pointer;
        text-align:center;
        float:left;
        opacity : 1;
        transition: opacity 0.2s
    };
    &:not(:hover) {
        > div.filter-inactive {
            opacity : 0;
        }
    }
}

div.resize-grip {
    height:100%;
    width:4px;
    cursor:col-resize;
}